<h1>Create New dog</h1>
  <%= form_for @dogs do |f| %> <!-- Create form for user object -->
  <% if @dogs.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@dogs.errors.count, "error") %>
        prohibited this user from being saved:</h2>
    <ul>
        <% @dogs.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>
    Name: <%= f.text_field :name %> <!-- Create a text field that sends its value under the key name-->
    age: <%= f.text_field :age %><!-- Create a text field that sends its value under the key email -->
    <%= f.submit %> <!-- Create submit button-->
  <% end %>


<p>Find me in app/views/dogs/new.html.erb</p>